In [17]:
import pandas as pd

In [234]:
df_train=pd.read_csv('sales_train.csv')

In [235]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [236]:
df_train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [237]:
df_train['date']= pd.to_datetime(df_train['date'],format='%d.%m.%Y')

In [238]:
 df_train.set_index('date',inplace=True)

In [241]:
df_train.head()

            shop_id  item_id  item_price  item_cnt_day
date
2013-01-02       59    22154      999.00           1.0
2013-01-03       25     2552      899.00           1.0
2013-01-05       25     2552      899.00          -1.0
2013-01-06       25     2554     1709.05           1.0
2013-01-15       25     2555     1099.00           1.0

In [240]:
df_train.drop(columns='date_block_num',inplace=True)

##preprocessing

In [34]:
encoding=df_train.groupby('shop_id').size()
encoding=encoding/len(df_train)
df_train['shop_id']=df_train.shop_id.map(encoding)

In [84]:
x=[]
for i in df_train['item_price'].values:
    x.append(i)
x_max=max(x)
x_min=min(x)
for j in range(len(x)):
    x[j]=float((x[j]-x_min)/(x_max-x_min))

In [86]:
df_train['item_price']=x

In [242]:
X = df_train[['shop_id','item_id']]

In [110]:
y =df_train['item_price']

Training

In [95]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [102]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10,random_state = 0,warm_start=True,verbose=2)
regressor.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

building tree 1 of 10

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.7s remaining:    0.0s

building tree 2 of 10
building tree 3 of 10
building tree 4 of 10
building tree 5 of 10
building tree 6 of 10
building tree 7 of 10
building tree 8 of 10
building tree 9 of 10
building tree 10 of 10

[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:   43.7s finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=0, verbose=2, warm_start=True)

In [103]:
y_pred= regressor.predict(X_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    1.8s finished

In [106]:
c=((y_pred)/y_test)*100

In [108]:
c.median()

99.47314407729134

Train 2

In [244]:
y =df_train['item_cnt_day']

In [245]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [246]:
from sklearn.ensemble import GradientBoostingRegressor

In [247]:
from sklearn.ensemble import RandomForestRegressor
regressor = GradientBoostingRegressor(loss = 'lad',learning_rate=0.01,verbose=1)
regressor.fit(X_train, y_train)

      Iter       Train Loss   Remaining Time
         1           0.2530            2.78m
         2           0.2528            2.64m
         3           0.2526            2.58m
         4           0.2525            2.53m
         5           0.2523            2.50m
         6           0.2521            2.46m
         7           0.2519            2.43m
         8           0.2518            2.42m
         9           0.2516            2.41m
        10           0.2514            2.38m
        20           0.2499            2.17m
        30           0.2485            1.91m
        40           0.2472            1.69m
        50           0.2467            1.42m
        60           0.2463            1.14m
        70           0.2459           51.16s
        80           0.2456           34.32s
        90           0.2452           17.29s
       100           0.2448            0.00s

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.01, loss='lad', max_depth=3,
             max_features=None, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=100,
             n_iter_no_change=None, presort='auto', random_state=None,
             subsample=1.0, tol=0.0001, validation_fraction=0.1, verbose=1,
             warm_start=False)

In [248]:
y_pred= regressor.predict(X_test)

In [249]:
c=((y_pred)/y_test)*100

In [250]:
c.median()

100.0

INference

In [251]:
test=pd.read_csv('test.csv')

In [227]:
encoding=test.groupby('shop_id').size()
encoding=encoding/len(df_train)
test['shop_id']=test.shop_id.map(encoding)

In [252]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [253]:
Xx=test[['shop_id','item_id']]

In [254]:
item_cnt_month= regressor.predict(Xx)

In [255]:
len(item_cnt_month)

214200

In [256]:
output= pd.DataFrame({'ID': test.ID,'item_cnt_month': item_cnt_month})

In [257]:
output.to_csv('submission4.csv', index=False)